$icon-font-path: "fonts/bootstrap/";

@import "bootstrap";

.content-header {
  margin-bottom: 32px;
  padding: 8px;
  border: 2px;
  border-style: none solid solid solid;
  @include border-bottom-radius(8px);
  background-color: $gray-light;
  img {
    @include center-block();
  }
}

.content-footer {
  margin-top: 32px;
  padding: 8px;
}
