$icon-font-path: "fonts/bootstrap/";

@import "bootstrap";

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .logo.retina {
    display: inline     !important;
    visibility: visible !important;
  }

  .logo.no-retina {
    display: none       !important;
    visibility: hidden  !important;
  }
}

.retina {
  display: none       !important;
  visibility: hidden  !important;
}

.content-header {
  margin-bottom: 32px;
  padding: 8px;
  padding-top: 16px;
  border: 1px;
  border-color: $gray;
  border-style: none solid solid solid;
  @include border-bottom-radius(8px);
  @include box-shadow(inset 0 -1px 1px rgba(0,0,0,.25));
  background-color: $gray-light;

  img {
    @include center-block();
  }
}

.content-footer {
  margin-top: 32px;
  padding: 8px;
}
